<.page_header_title>Reports</.page_header_title>
<%= live_component(WmcgyWeb.Components.Reports.IncomeExpenseByCategory,
  id: :income_expense_by_category,
  current_user: @current_user,
  today: @today
) %>
